@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundColor {
  background-color: #17212b;
}

.textBoxColor {
  background-color: #242f3d;
}

.senderMessageColor {
  background-color: #287a9a;
}
.reciverColor {
  background-color: #2a3038;
}

.senderTimerColor {
  color: #88bbd2;
}

.RecivertimerColor {
  color: #c0e0db;
}

.selectmessageMessageBackground {
  background-color: #0e1621;
}
.selectMessageColor {
  background-color: #1e2c3a;
}

.hovercontact {
  background-color: #202b36;
}
